



@font-face {
    font-family:'Lato Black';
    src: url('../fonts/LatoBlack.eot');
	src: url('../fonts/LatoBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoBlack.woff2') format('woff2'),
		url('../fonts/LatoBlack.woff') format('woff'),
		url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato Black';
    src: url('../fonts/LatoBlackItalic.eot');
	src: url('../fonts/LatoBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoBlackItalic.woff2') format('woff2'),
		url('../fonts/LatoBlackItalic.woff') format('woff'),
		url('../fonts/LatoBlackItalic.svg#LatoBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoBold.eot');
	src: url('../fonts/LatoBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoBold.woff2') format('woff2'),
		url('../fonts/LatoBold.woff') format('woff'),
		url('../fonts/LatoBold.svg#LatoBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoBoldItalic.eot');
	src: url('../fonts/LatoBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoBoldItalic.woff2') format('woff2'),
		url('../fonts/LatoBoldItalic.woff') format('woff'),
		url('../fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoItalic.eot');
	src: url('../fonts/LatoItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoItalic.woff2') format('woff2'),
		url('../fonts/LatoItalic.woff') format('woff'),
		url('../fonts/LatoItalic.svg#LatoItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

//?
@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoLight.eot');
	src: url('../fonts/LatoLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoLight.woff2') format('woff2'),
		url('../fonts/LatoLight.woff') format('woff'),
		url('../fonts/LatoLight.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoLightItalic.eot');
	src: url('../fonts/LatoLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoLightItalic.woff2') format('woff2'),
		url('../fonts/LatoLightItalic.woff') format('woff'),
		url('../fonts/LatoLightItalic.svg#LatoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
//?

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoRegular.eot');
	src: url('../fonts/LatoRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoRegular.woff2') format('woff2'),
		url('../fonts/LatoRegular.woff') format('woff'),
		url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoThin.eot');
	src: url('../fonts/LatoThin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoThin.woff2') format('woff2'),
		url('../fonts/LatoThin.woff') format('woff'),
		url('../fonts/LatoThin.svg#LatoThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Lato';
    src: url('../fonts/LatoThinItalic.eot');
	src: url('../fonts/LatoThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LatoThinItalic.woff2') format('woff2'),
		url('../fonts/LatoThinItalic.woff') format('woff'),
		url('../fonts/LatoThinItalic.svg#LatoThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}